trust2_all_4.12.2014.csv
trust2_overview_4.23.2014.csv
trust_overview.4.28.2014-1.csv
trust_overview.4.28.2014_subset.csv
HFES
Trust2.box
HFES proceedings Trust & Model - KZ.docx
HFES proceedings.docx
Randomized Blocks.csv
Trust Model - SMYAIWSYM session.pptx
constant_dprime.lisp
graphs
